

.card { 
      
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--welcome-card-bg);
    flex-grow: 1;
    padding: 16px;
    border-radius: 8px;
    // margin: 16px 16px 0;
    text-align: center;
    justify-content: center;
    >h2{
        font-weight: 900;
        margin-top: 40px;
        
    }
    
    
}
.actions{
    position: fixed;
    
    z-index: var(--z-index-bottom-nav);
    background: var(--welcome-bg-end) ;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    color:var(--welcome-text);
    align-items: center;
    padding: 0 16px;
    font-size: 24px;
    height: var(--welcome-nav-height);
    padding-bottom: var(--welcome-nav-gap);
   
    >.fake{
        visibility: hidden;
    }
}